.main-navigation.gray-nav.lower-nav .main-navigation-wrapper nav.navbar.navbar-default{
  background: #3f5469;
}

.main-navigation.gray-nav.lower-nav .main-navigation-wrapper .navbar.navbar-default .navbar-nav>li>a{
  color: white;
  background: transparent;
  border-left: none;
}

.main-navigation.gray-nav.lower-nav .main-navigation-wrapper .navbar.navbar-default .navbar-header>a.navbar-brand{
  color: white;
}

.main-navigation.gray-nav.lower-nav .main-navigation-wrapper .navbar.navbar-default .navbar-nav>li>a:hover{
  border-left: none;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation.gray-nav.lower-nav .main-navigation-wrapper .navbar.navbar-default .navbar-toggle .icon-bar{
  background: white;
}

.main-navigation.gray-nav.lower-nav .navbar-brand{
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
