.main-navigation.gray-nav:nth-of-type(3){
  background: #3f5469;
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default{
  background: #3f5469;
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default button.navbar-toggle{
  margin: 10px;
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default a{
  font-size: 1.2em;
  padding: 15px;
  color: white;
  background: transparent;
  border-left: none;
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default a:hover{
  border-left: none;
  background: rgba(255, 255, 255, 0.2);
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default button.navbar-toggle>span.icon-bar {
  background: white;
}

.main-navigation.gray-nav:nth-of-type(3) .main-navigation-wrapper nav.navbar.navbar-default .navbar-brand{
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
